* {
    font-family: 'PlayFair';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: #00B3B5;
    color: white;
}

*:not(.carousel *, .carousel) {
    max-width: 100vw;
}

/* background */
canvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
    background: #191d1e;
    /* Old browsers */
    background: -moz-linear-gradient(90deg, #090A0F, #1B2735, #090A0F);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #191d1e), color-stop(100%, #283139));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #090A0F, #1B2735, #090A0F);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #090A0F, #1B2735, #090A0F);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #090A0F, #1B2735, #090A0F);
    /* IE10+ */
    background: #090A0F;
    /* background: linear-gradient(45deg, #090A0F ,#1B2735); */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191d1e', endColorstr='#283139', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed
}

#projector {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.center-div {
    width: 580px;
    height: 374px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -290px;
    margin-top: -187px;
}

#preloaderDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -27px;
}

#logo {
    opacity: 0;
    filter: alpha(opacity=0);
}

#date2014 {
    position: absolute;
    padding-left: 210px;
    padding-top: 15px;
    opacity: 0;
    top: 303px;
    left: 0;
    filter: alpha(opacity=0);
}


/* rest */


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 5%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrap {
    border-radius: 500px;
    box-shadow: 7px 11px 16px -18px black;

}

.nav-wrap ul {
    padding: 0.3rem 1rem;
    border-radius: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}



nav ul li {
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    cursor: pointer;
    overflow: hidden;
    padding:0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    height:45px;
    width:45px;
}

nav ul li a {
    color: #0E0F19;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #0E0F19;
    box-shadow: 0 0 5px black;
    transform: translateY(-10px);
}

.active a {
    color: white;
}
.reveal {
    opacity: 0;
    transition: all 1s ease-in-out
}
.image img{transform: rotate(90deg);}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0E0F19;
    color: white;
    flex-direction: column;
    padding: 0 5rem;
}

.container h1 {
    font-size: 7rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    z-index: 2;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5rem;
    text-align: center;
}

.container p {
    /* color:#931620; */
    z-index: 2;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px black;
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
}

button a {
    color: #0E0F19;
}

.button {
    margin-top: 3rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0E0F19;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #0E0F19;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.button i {
    transition: all 200ms;
}

.button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #fff;
    box-shadow: 4px 5px 17px -4px #0E0F19;
    background-color: #0E0F19;
}

.button:hover a {
    color: white;
}

.button:hover i {
    transform: rotate(90deg);
}

.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0E0F19;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before {
    width: 250%;
}

.container button a {
    color: #0E0F19;
}

.box {
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.box h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.box h1:after {
    content: '';
    width: 30%;
    margin: auto;
    height: 3px;
    background-color: #00B3B5;
    display: block;
}

.box .block {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.box .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.644);
    padding: 2rem 1rem;
}

.box .col>* {
    flex: 1;
}

#about {
    padding-bottom: 9rem;
}

.hexagon i {
    overflow: hidden;
    font-size: 2rem;
    color: white;
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    overflow: hidden;
    position: relative;
    background-color: #00B3B5;
    padding: 0.9rem 1rem;
    clip-path: polygon(25% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            25% 100%,
            0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    filter: brightness(120%);
}

.me {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;/
}

.me h2 {
    color: rgba(0, 0, 0, 0.644);

}

.me .with-img p {
    width: 70%;
    margin: auto;
}


.me>* {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.with-img {
    align-self: center;
}

.skills {
    height: 100%;
}

.inside {
    padding: 2rem 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 1.3rem;
    justify-content:center;
    align-items: center;
}

.inside>img {
    transition: all 0.2s ease-in-out;
    transform: translateY(100px);
}

.inside>*:hover {
    transform: scale(1.2)
}
.skill{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding:0.4rem 0;
    padding-left:2rem;
    border-radius:10px;
    align-items: center;
    gap:1rem;
    background-color: #00B3B5;
    width:60%;
}

.me a {
    color: rgba(0, 0, 255, 0.728);
}

.inside p:hover {
    background-color: #00B3B5;
    color: white;
    box-shadow: 0 0 5px -2px black;
    transform: scale(1.2);
}


.projects {
    margin-bottom: 9rem;
    background-color: #0e0f191e;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 7rem;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 4rem;
    box-shadow: 0 0 5px -1px black inset;
    background-color: #9316205c;
}

.active-circle {
    background-color: #931620;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tiles {
    display: flex;
    justify-content: flex-start;
}

.active-tile img {
    box-shadow: 0 0 10px rgba(0, 0, 0);
    transform: scale(1.2);
}

.tile:first-of-type {
    margin-left: 38%;
    cursor: pointer;
}

.tile {
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.left,
.right {
    position: absolute;
    top: 45%;
    font-size: 2.3rem;
    color: rgba(255, 255, 255, 0.473);
    padding: 0.8rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.left {
    left: 15%;
}

.right {
    right: 15%;
}

.clicked-span-left {
    transform: scale(1.1);
    transform: translate(-10px);
}

.clicked-span-right {
    transform: scale(1.1);
    transform: translate(10px);
}

.circles {
    display: flex;
    flex-wrap: nowrap;
    width: inherit;
    justify-content: center;
    gap: 0.3rem;
    transition: all 0.2s ease-in-out;
}

.circles {
    position: relative;
    top: 47px;
}

.circles:hover {
    transform: scaleY(3);
}

.circle {
    height: 2px;
    width: 30px;
    border: 2px solid #9316206a;
    cursor: pointer;
}

.tri {
    position: relative;
    top: -8rem;
}

.tri-img {
    width: 100vw;
}

.contact {
    background-color: #0E0F19;
    width: 100%;

}

.contact h1 {
    margin-top: -6rem;
    color: white;
}

.contact h4 {
    text-align: center;
    color: #00B3B5;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 2rem;
    margin-top: 2rem;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #00B3B5;
    margin-bottom: 10rem;
    box-shadow: 0 0 5px -2px #00B3B5;
}



form .input,
textarea {
    background-color: #00B3B5;
    height: 3rem;
    border: none;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 0;
}

textarea {
    min-height: 150px;
}

form .button {
    width: fit-content;
    align-self: flex-end;
    margin-top: 0 !important;
    height: auto;
}

form div {
    position: relative;
}

label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: rgba(255, 255, 255, 0.511);
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
    z-index: 2;
}

.input:focus,
.input:valid,
textarea:focus,
textarea:valid {
    border: 2px solid #00B3B5;
    outline: none;
    background-color: #0E0F19;
    box-shadow:0 0 5px #00B3B5;
}

.input:focus~label,
textarea:focus~label,
.input:valid~label,
textarea:valid~label {
    z-index: 10;
    top: -8px;
    font-size: 0.7rem;
    color: #00B3B5;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
    padding: 0 0.3rem;
}

.footer {
    min-height: 15rem;
    background-color: #0e0f19e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.footer p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.573);
}

.footer button {
    position: relative;
    padding: 0.7rem 1rem;
    top: -1.8rem;
    font-size: 1.3rem;
    background-color: #931620;
    color: white;
    border: none;
    box-shadow: 0 0 5px -2px black;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

button a {
    color: white;
}

.footer button:hover {
    transform: scale(1.2);
}

.links {
    display: flex;
    gap: 2rem;
}

.links>div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.link {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: white;
    background-color: #0E0F19;
    box-shadow: 0 0 5px -1px black inset;
    /* transition:all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: fit-content;
}


.link:hover {
    /* animation: anim 0.1s ease-in; */
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9);
    background-color: #931620;
    border: none;
}
.skills{min-width:50%;}
/* media queries */
@media(max-width:1490px){
    
    .skill{
        width:90% !important;
    }
}
@media(max-width:777px) {
    .container {
        padding: 0;
        align-items: center;
    }


    .nav-wrap ul {
        gap: 0.7rem;
    }

    .projects {
        min-height: fit-content !important;
    }

    #home h1 {
        font-size: 4.5rem;
        text-align: center;
        line-height: 9vh;
        /* margin-bottom: 3rem; */
        letter-spacing: 0;
    }

    #home p {
        margin-top: 1rem;
        font-size: 1rem
    }

    .me {
        gap: 2rem;
    }

    .active a {
        transform: none;
        padding: 0;
    }

    #about .block {
        flex-direction: column;
        gap: 0rem;
    }

    .me .with-img p {
        width: 100%;
    }
    .with-img img{
        width:17rem;
    }
    .projects img {
        width: 300px;
    }

    .tile:first-of-type {
        margin-left: 37.5%;
    }

    .left {
        left: 0;
        top: 35%;
    }

    .right {
        top: 35%;
        right: 0;
    }

    .contact form {
        transform: scale(0.9);
        margin-bottom: 7rem !important;
    }

    form .input,
    textarea {
        width: 310px;
    }

    .skills {
        margin-top: 2rem;
    }

    .inside>*{
        gap:0.3rem;
    }
    .skill{padding-left:0.4rem;}
    .skill img{
        transform: scale(0.7);
    }
    .contact h4 {
        padding: 0 3rem
    }

    .active {
        transform: none;
    }
}